<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deploy ML model using Heroku</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="./mycss.css">
</head>
<body>
  <div class="container">
    <div class="login">
      <h1 style="text-align: center;">Welcome to Loan classifier</h1>
      
        <form action="{{ url_for('predict')}}"method="post">
          <br>
          <div class="mx-auto col-md-12">
              <label for="gender"> Gender:</label>
              <select id="gender" name="Gender_Male">
                <option value=1>Male</option>
                <option value=0>Female</option>
              </select>
              <label for="married" style="margin-left: 30px;"> Married:</label>
              <select id="married"  name="Married_Yes">
                <option value=1>Yes</option>
                <option value=0>No</option>
              </select>
              <label for="dependents" style="margin-left: 30px;"> Dependents:</label>
              <select id="dependents" name="Dependents_2">
                <option value=1>2</option>
                <option value=0>Other</option>
              </select>
              <label for="credit" style="margin-left: 30px;"> Credit History:</label>
              <select id="credit" name="Credit_History_1">
                <option value=1>Yes</option>
                <option value=0>No</option>
              </select>
              <label for="property" style="margin-left: 30px;"> Property Area:</label>
              <select id="property" name="Property_Area_Semiurban">
                <option value=1>Semiurban</option>
                <option value=0>Other</option>
              </select>
          </div>
        <br><br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
        </form>
    
       <br>
       <br>
       {{ output }}
    
     </div>
  </div>
 <script>
  function myFunction() {
    console.log(document.getElementById("gender").value);
    // document.getElementById("result").innerHTML = document.getElementById("gender").value;
  }
  </script>

</body>
</html>